[D-BUS Service]
Name=com.ableton.update
Exec=/usr/bin/python3 /usr/lib/move-bringup/move-update-dbus.py
User=root
SystemdService=move-update-dbus.service
